/**
 * Special styling for wide screens
 */
@media screen and ( min-width: 1110px ) {
	#your-profile > table {
		margin-left: 390px;
		margin-right: 0;
	}

	#wp-user-avatars-user-settings {
		right: auto;
		left: 0;
	}

	#wp-user-avatars-ratings fieldset {
		padding-left: 0;
		padding-right: 110px;
	}

	#wp-user-avatars-user-settings .wp-user-avatar-rating {
		margin-right: 0;
		margin-left: 15px;
	}

	#wp-user-avatars-user-settings p.submit {
		text-align: left;
	}
}

#normal-sortables #wp-user-avatars-ratings fieldset,
#side-sortables #wp-user-avatars-ratings fieldset {
	padding-left: auto;
	padding-right: 0;
}

#side-sortables #user-avatar .wp-user-avatar-rating {
	margin-right: 0;
	margin-left: 20px;
}

#side-sortables #wp-user-avatars-photo,
#side-sortables #wp-user-avatars-actions {
	float: right;
}

#side-sortables #user-avatar p.submit {
	text-align: left;
}
